#design
    padding:
        top: 114px
        bottom: 146px
    background: 
        size: cover

.design__title
    font-size: 48px

.design__text
    color: $white
    font-size: 24px

.design__buttons .button_gray
    margin:
        top: 36px
        right: 16px
    padding:
        left: 60px
        right: 60px
    border: none

.design__buttons .button_green
    margin-top: 36px
    border: none