@font-face {
	font-family: 'HelveticaNeueCyr';
	src: local('HelveticaNeueCyr-Light'),
		url('../fonts/HelveticaNeueCyr-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: local('HelveticaNeueCyr-MediumItalic'),
		url('../fonts/HelveticaNeueCyr-Medium.woff') format('woff');
	font-weight: 500;
	font-style: italic;
}